<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
     <!-- Bootstrap CSS CDN -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/static/css/style.css">
    <title>Iniciar sesion</title>
</head>
<body class="bg-degrade">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="EconoME" width="30" height="24">
              </a>
        </div>
    </nav>
    <div class=" container"> 
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-ligth display-4 mt-100" style="font-size: 80px">"El éxito es el resultado de pequeños esfuerzos repetidos día tras día."</h1>
            </div>
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <form method="post" action="/validacion_login">
                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                              <input type="email" id="form1Example1" class="form-control" name="email"/>
                              <label class="form-label" for="form1Example1">Correo electronico</label>
                            </div>
                          
                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                              <input type="password" id="form1Example2" class="form-control" name="password" />
                              <label class="form-label" for="form1Example2">Contraseña</label>
                            </div>
                          
    
                          
                            <!-- Submit button -->
                            <button data-mdb-ripple-init type="submit" class="btn btn-success btn-block">Ingresar</button>
                          </form>
                          <p class="mt-2">¿Aun no tienes tu cuenta? <a href="{{ url_for('registro') }}">Registrarse</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Bootstrap JS and dependencies -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>